body { background-color: darkkhaki;
      color: darkOrange;}
nav ul li {display:inline;}
nav ul {list-style-type:none;}
table,td,tr,th { background-color: firebrick;
                border: 1px solid indigo;}
table { bcakground-color: DarkGoldenRod 
border-collapse: collapse;}
