<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PORTFOLIO</title>
</head>
<body>
{% extends "base.html" %}
{% block body %}

<h1>Welcome to your Portfolio!</h1>
<h2>Current Cash: ${{cash}}</h2>
<h2>Current Profit: ${{total_profit}}</h2>
<form>
  <fieldset>
    Add Cash to Portfolio: <input id="" type="text" name="cash_add"><br>
    <label for="deposit">DEPOSIT CASH</label>
    <input id="deposit" type="checkbox" value="DEPOSIT CASH"><br>
    <label for="withdraw">WITHDRAW CASH</label>
    <input id="withdraw" type="checkbox" value="WITHDRAW CASH" name="Withdraw Cash"><br>
    <input type="submit" value="SEND MONEY">
    <br>
  </fieldset>
</form>
<h2>Positions:</h2><br>

<table>
  {% if not not stocks %}
  {% for stock in stocks  %}
  <tr>
    <td>Symbol: {{stock.symbol}} </td>
    <td>Shares: {{stock.shares}} </td>
    <td>Current Price: ${{stock.price}} </td>
    {% if stock.profit > 0 %}
      <td style="green">Current Profit: ${{stock.profit}} </td>
    {%else%}
      <td style="red">Current Profit: ${{stock.profit}} </td>
    {%endif%}
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}

</body>
</html>
